In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('primes.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4768393 entries, 0 to 4768392
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   2       int64
dtypes: int64(1)
memory usage: 36.4 MB

In [5]:
df.info

<bound method DataFrame.info of                 2
0               3
1               5
2               7
3              11
4              13
...           ...
4768388  81799877
4768389  81799897
4768390  81799973
4768391  81799987
4768392         8

[4768393 rows x 1 columns]>

In [6]:
df.tail(5)

                2
4768388  81799877
4768389  81799897
4768390  81799973
4768391  81799987
4768392         8

In [7]:
df2=pd.read_csv('primes2.csv')

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5663763 entries, 0 to 5663762
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   2       int64
dtypes: int64(1)
memory usage: 43.2 MB

In [9]:
df.tail(5)

                2
4768388  81799877
4768389  81799897
4768390  81799973
4768391  81799987
4768392         8

In [11]:
for chunk in pd.read_csv('primes2.csv', chunksize=100000):
    print(chunk.tail())

             2
99995  1299653
99996  1299673
99997  1299689
99998  1299709
99999  1299721
              2
199995  2750071
199996  2750123
199997  2750131
199998  2750159
199999  2750161
              2
299995  4256167
299996  4256191
299997  4256227
299998  4256233
299999  4256249
              2
399995  5800037
399996  5800049
399997  5800057
399998  5800079
399999  5800139
              2
499995  7368721
499996  7368737
499997  7368743
499998  7368787
499999  7368791
              2
599995  8960387
599996  8960443
599997  8960447
599998  8960453
599999  8960467
               2
699995  10570801
699996  10570831
699997  10570837
699998  10570841
699999  10570849
               2
799995  12195217
799996  12195233
799997  12195251
799998  12195257
799999  12195263
               2
899995  13834049
899996  13834057
899997  13834087
899998  13834103
899999  13834127
               2
999995  15485843
999996  15485849
999997  15485857
999998  15485863
999999  15485867
                2
1099995  17144419
1099996  17144467
1099997  17144471
1099998  17144489
1099999  17144507
                2
1199995  18815197
1199996  18815207
1199997  18815221
1199998  18815231
1199999  18815249
                2
1299995  20495803
1299996  20495819
1299997  20495831
1299998  20495843
1299999  20495861
                2
1399995  22182313
1399996  22182337
1399997  22182341
1399998  22182343
1399999  22182379
                2
1499995  23879461
1499996  23879473
1499997  23879489
1499998  23879519
1499999  23879539
                2
1599995  25582087
1599996  25582097
1599997  25582103
1599998  25582153
1599999  25582163
                2
1699995  27290257
1699996  27290267
1699997  27290269
1699998  27290279
1699999  27290311
                2
1799995  29005511
1799996  29005523
1799997  29005531
1799998  29005541
1799999  29005549
                2
1899995  30723631
1899996  30723701
1899997  30723733
1899998  30723761
1899999  30723773
                2
1999995  32452789
1999996  32452837
1999997  32452841
1999998  32452843
1999999  32452867
                2
2099995  34185953
2099996  34185961
2099997  34185971
2099998  34186049
2099999  34186063
                2
2199995  35926243
2199996  35926249
2199997  35926259
2199998  35926307
2199999  35926309
                2
2299995  37667611
2299996  37667639
2299997  37667653
2299998  37667659
2299999  37667713
                2
2399995  39410837
2399996  39410843
2399997  39410857
2399998  39410867
2399999  39410869
                2
2499995  41161667
2499996  41161693
2499997  41161721
2499998  41161739
2499999  41161751
                2
2599995  42920159
2599996  42920173
2599997  42920179
2599998  42920191
2599999  42920209
                2
2699995  44680249
2699996  44680253
2699997  44680297
2699998  44680319
2699999  44680327
                2
2799995  46441181
2799996  46441183
2799997  46441189
2799998  46441207
2799999  46441223
                2
2899995  48210671
2899996  48210689
2899997  48210709
2899998  48210713
2899999  48210719
                2
2999995  49979653
2999996  49979663
2999997  49979681
2999998  49979687
2999999  49979693
                2
3099995  51754921
3099996  51754939
3099997  51754961
3099998  51754979
3099999  51754999
                2
3199995  53533457
3199996  53533471
3199997  53533499
3199998  53533511
3199999  53533523
                2
3299995  55316873
3299996  55316879
3299997  55316893
3299998  55316903
3299999  55316939
                2
3399995  57099257
3399996  57099283
3399997  57099293
3399998  57099299
3399999  57099349
                2
3499995  58885973
3499996  58885987
3499997  58885993
3499998  58885999
3499999  58886033
                2
3599995  60678029
3599996  60678043
3599997  60678053
3599998  60678089
3599999  60678109
                2
3699995  62473003
3699996  62473009
3699997  62473027
3699998  62473031
3699999  62473049
                2
3799995  64268753
3799996  64268767
3799997  64268777
3799998  64268779
3799999  64268783
                2
3899995  66068819
3899996  66068831
3899997  66068839
3899998  66068881
3899999  66068923
                2
3999995  67867949
3999996  67867951
3999997  67867957
3999998  67867967
3999999  67867979
                2
4099995  69672737
4099996  69672767
4099997  69672781
4099998  69672821
4099999  69672853
                2
4199995  71480011
4199996  71480027
4199997  71480039
4199998  71480051
4199999  71480063
                2
4299995  73289663
4299996  73289681
4299997  73289693
4299998  73289701
4299999  73289717
                2
4399995  75103429
4399996  75103471
4399997  75103477
4399998  75103493
4399999  75103543
                2
4499995  76918159
4499996  76918207
4499997  76918249
4499998  76918253
4499999  76918277
                2
4599995  78736403
4599996  78736423
4599997  78736433
4599998  78736451
4599999  78736487
                2
4699995  80556629
4699996  80556643
4699997  80556667
4699998  80556703
4699999  80556709
                2
4799995  82376069
4799996  82376113
4799997  82376159
4799998  82376219
4799999  82376243
                2
4899995  84200243
4899996  84200251
4899997  84200273
4899998  84200279
4899999  84200287
                2
4999995  86028097
4999996  86028101
4999997  86028113
4999998  86028121
4999999  86028157
                2
5099995  87857437
5099996  87857467
5099997  87857477
5099998  87857527
5099999  87857533
                2
5199995  89687659
5199996  89687669
5199997  89687677
5199998  89687683
5199999  89687693
                2
5299995  91519031
5299996  91519033
5299997  91519049
5299998  91519063
5299999  91519081
                2
5399995  93354637
5399996  93354647
5399997  93354649
5399998  93354673
5399999  93354689
                2
5499995  95189047
5499996  95189051
5499997  95189071
5499998  95189089
5499999  95189093
                2
5599995  97026169
5599996  97026203
5599997  97026229
5599998  97026233
5599999  97026263
                2
5663758  98199911
5663759  98199931
5663760  98199989
5663761  98199991
5663762         9

In [12]:
for chunk in pd.read_csv('primes.csv', chunksize=1000000):
    print(chunk.tail())

               2
999995  15485843
999996  15485849
999997  15485857
999998  15485863
999999  15485867
                2
1999995  32452789
1999996  32452837
1999997  32452841
1999998  32452843
1999999  32452867
                2
2999995  49979653
2999996  49979663
2999997  49979681
2999998  49979687
2999999  49979693
                2
3999995  67867949
3999996  67867951
3999997  67867957
3999998  67867967
3999999  67867979
                2
4768388  81799877
4768389  81799897
4768390  81799973
4768391  81799987
4768392         8